.blue-bg-somus {
    background-color: #0f406a;
}

.blue-text-somus {
    color: #0f406a;
}

.orange-bg-somus {
    background-color: #f58220;
}

.orange-text-somus {
    color: #f58220;
}

.black-bg-somus {
    background-color: #231f20;
}

.black-text-somus {
    color: #231f20;
}

.gray-bg-somus {
    background-color: #58595b;
}

.gray-text-somus {
    color: #58595b;
}
